<form method="post" action="{{ path('app_seccion_alumno_delete', {'id': seccion_alumno.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seccion_alumno.id) }}">
    <button class="btn">Delete</button>
</form>
