{% extends 'base.html.twig' %}

{% block title %}New SeccionAlumno{% endblock %}

{% block body %}
    <h1>Create new SeccionAlumno</h1>

    {{ include('seccion_alumno/_form.html.twig') }}

    <a href="{{ path('app_seccion_alumno_index') }}">back to list</a>
{% endblock %}
