    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Menú Principal</h3>
        </div>
        <div class="sidebar-components">
            <a href="/dashboard_admin" class="sidebar-item active">
                <i class="fas fa-home"></i> Inicio
            </a>
            <a href="/user/" class="sidebar-item">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Usuarios
            </a>  
            <a href="/modulo/" class="sidebar-item">
                <i class="fa-solid fa-folder-tree"></i> Módulos
            </a>              
            <a href="/clases/" class="sidebar-item">
                <i class="fa fa-book" aria-hidden="true"></i> Lecciones
            </a>                                   
            <a href="/discipulo/" class="sidebar-item">
                <i class="fa fa-users" aria-hidden="true"></i> Discipulos
            </a>  
            <a href="/aula/" class="sidebar-item">
                <i class="fa-solid fa-school"></i> Aulas
            </a>   
            <a href="/cohorte/" class="sidebar-item">
                <i class="fa-solid fa-people-line"></i> Cohortes
            </a>  
            <a href="/seccion/" class="sidebar-item">
                <i class="fa-solid fa-people-roof"></i> Secciones
            </a>  
            <a href="/planificacion/" class="sidebar-item">
                <i class="fa-solid fa-chalkboard-user"></i> Mesa Técnica
            </a>             
            <a href="#" class="sidebar-item">
                <i class="fa fa-print" aria-hidden="true"></i> Reportes
            </a> 
            <a href="#" class="sidebar-item">
                <i class="fas fa-question-circle"></i> Ayuda
            </a>
        </div>
    </div>

