<form method="post" action="{{ path('app_planificacion_delete', {'id': planificacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planificacion.id) }}">
    <button class="btn">Delete</button>
</form>
