{% extends 'base.html.twig' %}

{% block title %}Planificación - Maranatha Discipulado{% endblock %}

{% block body %}

    <!-- Contenido Principal -->
    <div id="content-fluid" style="padding:5px !important"> 
        <p>&nbsp;</p>   
        <div class='row'  style='margin:auto !important'>
            <div class='col-12 col-md-8 col-lg-8 shadow p-3 mb-5 bg-white rounded' style='margin:auto !important'>
                <div class='card-header'>
                    <h3>Subir de Lección</h3>
                </div>
                <div class='card-body'>
                   datos para subir de lección
                </div>
            </div>

        </div>
   </div>
{% endblock %}

